body{
    background-image : url("/images/backcover.svg" );
    background-repeat: no-repeat;
    background-position: right top;
    font-family: "Roboto";
    background-size: 50%;
    position: absolute;
    }
    nav{
        display:flex;
        margin: 40px 40px;
        justify-content: space-around;
        position: relative;
    }
    .nav-items{
        display: flex;
        Margin:0% 20%;
        color: #222b75;
    }
    .nav-item{
        margin: 5px 20px;
    }
    .signin-btn{
        padding: 0px 10px;
        margin-top: 0px;
        margin-left: 7%;
        font-size: 12px;
        height:20px;
        border-radius: 10px;
        
        
    }
    button{
        background-image:linear-gradient(to right, #965cf2 , #ff8adc);
        border: 0px;
        color: #fcfcfc;
    }

    .intro-section{
        display: flex;
        margin-left: 8%;
        
    }
    .left-section{
        margin-top: 5%;
    }
    h1{
        color: #3e4794;
        font-size: 60px;
    }
    h4{
        color: #1e2353;
        font-size: 14px;
        font-weight: 100;
        padding-right: 50%;
    }

    .learn-more-btn{
        font-size: 30px;
        border-radius: 25px;
        padding:10px 20px;
        margin-top: 10%;
    }

    img[src="./images/intro-img.svg" ]
    {
        width:85%;
    }
.imgs-div{
    margin-right: 4%;
    margin-top: 0px;
    
}

.vector-img{
    position: absolute;
    bottom:5%;
    left: 47%;
}
.vector-dot{
  bottom:18%;
    position: absolute;
}
@media screen and (max-width: 1290px){
    .signin-btn{
        padding: 0px 10px;
        margin-top: 0px;
        font-size: 12px;
        border-radius: 10px;
        
        
    }
    nav{
        display:flex;
        margin: 40px 0px;
        justify-content: space-evenly;
        }
        .nav-items{
            display: flex;
            Margin:0% 10%;
            color: #222b75;
        }
}
@media screen and (max-width: 880px){
    .signin-btn{
        padding: 0px 10px;
        margin-top: 0px;
        font-size: 12px;
        border-radius: 10px;
        
        
    }
    nav{
        display:flex;
        margin: 40px 0px;
        justify-content: space-evenly;
        }
        .nav-items{
            display: flex;
            Margin:0% 3%;
            color: #222b75;
        }
}
@media screen and (max-width: 750px){
    .signin-btn{
        padding: 0px 10px;
        margin-top: 0px;
        font-size: 12px;
        border-radius: 10px;
        
        
    }
    nav{
        display:flex;
        margin: 40px 0px;
        justify-content: space-evenly;
        flex-wrap: wrap;
        }
        .nav-items{
            display: flex;
            Margin:0% 3%;
            color: #222b75;
        }
        .intro-section{
            display: flex;
            flex-direction: column-reverse;
            margin-left: 4%;
            margin-right: 4%;

            
        }
        .left-section{
            margin-top: 5%;
            text-align: center;
        }
        h4{
            color: #1e2353;
            font-size: 14px;
            font-weight: 100;
            margin-left: 5%;
            margin-right: 5%;
            padding: 0;
        }
        body{
            background-size: cover;
            background-position: top right;
            margin: 0%;
        }
}